<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/cheatsheet.css" rel="stylesheet">
</head>
<script>
  function goRequestPage(){
    location.href = "/checkList/register/page";
  }
  function deleteBoarder(seq){
    const requestDelete = document.requestDelete;
    requestDelete.seq.value = seq;
    requestDelete.submit();
  }
  function updateBoarder(seq){
    location.href = "/checkList/update/page?seq="+seq;
  }

</script>
<body>
<form name="requestDelete" method="post" action="/checkList/delete">
  <input type="hidden" name="seq">
</form>
<h1 th:align="center">[ToDoList]</h1>
<div class="bd-example">
  <table class="table table-hover">
    <tr>
      <th>번호</th>
      <th>할 일</th>
      <th>작성일</th>
      <th>기한</th>
      <th>수정</th>
      <th>삭제</th>
    </tr>
    <tr th:each="list : ${todoList}">
      <td class="table-primary"><span th:text="${list.seq}"></span></td>
      <td class="table-secondary"><span th:text="${list.todo}"></span></td>
      <td class="table-danger"><span th:text="${list.create_at}"></span></td>
      <td class="table-warning"><span th:text="${list.deadline}"></span></td>
      <td class="table-info"><button class="btn btn-info" type="button" th:onclick="|updateBoarder(${list.seq})|">수정</button>
      <td class="table-danger"><button class="btn btn-outline-danger" type="button" th:onclick="|deleteBoarder(${list.seq})|">삭제</button>
      </td>
    </tr>
  </table>
  <button class="btn btn-success" type="button" onclick="goRequestPage();">ToDoList 쓰러가기</button>
</div>
<br>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/cheatsheet.js"></script>
</body>
</html>