<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/cheatsheet.css" rel="stylesheet">
    <link href="/css/list-groups.css" rel="stylesheet">
    <link href="/css/headers.css" rel="stylesheet">
    <link href="/css/footers.css" rel="stylesheet">
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
</head>
<script>
    $(document).ready(function () {

        //게시글 수정 페이지 이동
        $(".updateBoarder").on("click", function () {
            $(location).attr("href", "/checkList/update?seq=" + $(this).data("value"));
        });

        //게시글 삭제 처리
        $(".deleteBoarder").on("click", function () {
            // 아래는 비동기 처리
            $.post("/checkList/delete", {seq: $(this).data("value")}, function (data) {
                alert(data);
                $(location).attr("href", "/checkList/list");
            });
        });
    });

</script>
<body>
<header class="d-flex flex-wrap align-items-center justify-content-center mb-4 border-bottom py-3">
    <img th:src="@{/img/logo2.png}" width="3%">
    <a href="/" class="d-flex align-items-center mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="220" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/checkList/list" class="nav-link px-2 link-dark">List-up</a></li>
        <li><a href="/checkList/register" class="nav-link px-2 link-dark">Register</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
    </ul>

    <div class="text-end" style="width: 20%">
        <button type="button" class="btn btn-outline-success me-2">Login</button>
        <button type="button" class="btn btn-success">Sign-up</button>
    </div>
</header>
<br>
<h1 th:align="center">[Heejin's ToDoList]</h1>
    <div class="list-group" th:each="list : ${todoList}">
        <label class="list-group-item gap-3">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
            <span class="pt-1 form-checked-content">
      <strong th:text="${list.category}"></strong><br/>
      <small style="padding-right: 0%; display: contents;" class="text-muted" th:text="${list.todo}"></small><br/>
      <small style="padding-right: 0%; display: contents;" class="text-muted" th:text="시작일- "></small>
      <small style="padding-right: 0%; display: contents;" class="text-muted"  th:text="${list.startdate}">
        <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"/></svg>
      </small>
      <br/>
      <small style="padding-right: 50%; display: contents;" class="text-muted" th:text="기한- "></small>
      <small style="padding-right: 50%; display: contents;" class="text-muted" th:text="${list.deadline}">
        <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"/></svg>
      </small>
    </span>
    <span style="margin-left: 43%; margin-top: 3.5%;">
        <button class="btn btn-outline-success updateBoarder" type="button" th:data-value="${list.seq}">수정</button>
        <button class="btn btn-outline-success deleteBoarder" type="button" th:data-value="${list.seq}">삭제</button>
    </span>
        </label>
    </div>
<div class="container">
    <footer class="my-4" style="padding-top: 4rem; padding-bottom: 1rem;">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
    </footer>
</div>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/cheatsheet.js"></script>
</body>
</html>